In [10]:
import numpy as np
import pandas as pd

In [11]:
data = pd.read_csv('titanic_data.csv')

data.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,0,22.0,1,0,7.2500
1,1,1,1,38.0,1,0,71.2833
2,1,3,1,26.0,0,0,7.9250
3,1,1,1,35.0,1,0,53.1000
4,0,3,0,35.0,0,0,8.0500

There are 3 values in **Pclass**, I assume them as multinomial distribution.

The data in **age** range from 0.42 to 80, I assume them as normal distribution.

There are 9 values (0-8) in **Siblings/Spouses Aboard**, I assume them as poisson distribution.

There are 7 values (0-6) in **Parents/Children Aboard**, I assume them as poisson distribution.

The data in **Fare** range from 0 to 512.3, I assume them as normal distribution.

In [ ]:
class NaiveBayes:
    def __init__(self):
        return None
        
    def fit(self, data):
        self.data = data
        self.data0 = data[data.Survived == 0]
        self.data1 = data[data.Survived == 1]
        py0 = self.data0.shape[0]/self.data.shape[0]
        py1 = 1 - py0
        
        self.y0 = self.data0.Survived
        self.X0 = self.data0.drop(['Survived'],axis = 1)
        
        self.y1 = self.data1.Survived
        self.X1 = self.data1.drop(['Survived'],axis = 1)

In [13]:
toy = data.head()
toy

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,0,22.0,1,0,7.2500
1,1,1,1,38.0,1,0,71.2833
2,1,3,1,26.0,0,0,7.9250
3,1,1,1,35.0,1,0,53.1000
4,0,3,0,35.0,0,0,8.0500

In [15]:
toy[toy.Survived == 1]

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
1,1,1,1,38.0,1,0,71.2833
2,1,3,1,26.0,0,0,7.9250
3,1,1,1,35.0,1,0,53.1000

In [16]:
toy[toy.Survived == 0]

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,0,22.0,1,0,7.25
4,0,3,0,35.0,0,0,8.05

In [23]:
class test:
    def __init__(self):
        return
    def pr(self):
        return 1

In [24]:
a = test()

In [25]:
a

In [26]:
a.pr()

1